#page-wrapper
	%h1
		SourCode
		%small Snippets

	%ol.breadcrumb
		%li.active
			%i.fa.fa-dashboard
			Home
	
	.alert.alert-success.alert-dismissable
		%button.close{:type=>"button", :data=>{:dismiss=>"alert"}, :aria=>{:hidden=>"true"}} &times;
		Welcome to SourCode Snippets Admin by
		%a.text-success{:href=>"#"}
			%strong	Start Bootstrap!
		Feel free to use this template for your admin needs! We are using a few different plugins to handle the dynamic tables and charts, so make sure you check out the necessary documentation links provided.
		
	

